---
import ProductLayout from "../layouts/ProductLayout.astro";
const products = await Astro.glob('../pages/products/*.md');

console.log('Product URLs:', products.map(p => p.url));
---

<div
   class="flex flex-col justify-center items-center
[@media(min-width:375px)]:flex-row [@media(min-width:375px)]:flex-wrap"
>
   {
      products.map(product => (
         <ProductLayout
            title={product.frontmatter.title}
            description={product.frontmatter.description || ''}
            image={product.frontmatter.image}
            rating={product.frontmatter.rating}
            tags={product.frontmatter.tags}
            url={product.url}
         />
      ))
   }
</div>
